{%extends 'base.html'%}
{% load static %}

{% block content %}
{{block.super}}
    <!-- Navigation Bar -->
    <div class="container-full header">
        <nav class="container-full navbar fixed-top navbar-expand-lg navbar-light bg-white">
            <div class="container nav-bar-top">   
                <a class="navbar-brand" href="#">
                    <div class="row">
                        <div class="col logo">
                            <img src="https://img.icons8.com/metro/50/000000/instagram-new.png" width="24" height="24">  
                        </div>
                        <div class="col brand">
                            <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png">   
                        </div>
                    </div>
                </a>
                <div class="searchbox">
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-light btn-sm my-2 my-sm-0" type="submit">
                          <img src="https://img.icons8.com/ios/30/000000/search--v1.png" width="18" height="18">
                      </button>
                    </form>
                </div>
                <div class="navbar-right">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <img src="https://img.icons8.com/wired/64/000000/marker.png" width="24" height="24">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="https://img.icons8.com/ios/50/000000/hearts.png" width="24" height="24">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="https://img.icons8.com/pastel-glyph/64/000000/user-male--v1.png" width="24" height="24">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- End of navabar -->

    <!-- This is the inner wrapper for the image and followers -->
    <div class="jumbotron">
        <!-- Row divider for image -->
        <div class="row">
            <!-- Image-Section -->
            <div class="col-md-1"></div>
            <div class="col-md-6">
                    {% for img in image %}
                    <div class="card">
                        <div class="card-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <img src="{{user.profile.profile_pic.url}}" class="col-md-2 img-responsive rounded-circle">
                                    <div class="col-md-7 username">
                                        <!-- Feature name in profile -->
                                        <blockquote class="blockquote">
                                            <p class="mb-0 imgcred">{{img.user}}</p>
                                            <footer class="locationcred">{{img.image_name}}</footer>
                                        </blockquote>
                                    </div>
                                    <div class="col-md-2 popupset">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-sm btn-white" data-toggle="modal" data-target="#exampleModalCenter">
                                            <img src="https://img.icons8.com/ios-glyphs/30/000000/ellipsis.png" width="20px" height="20px">
                                        </button>
                                        <!-- End Button trigger modal -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{{img.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <img src="https://img.icons8.com/ios/50/000000/like.png" width="30px" height="30px">
                                        <!-- <img src="https://img.icons8.com/officel/80/000000/filled-like.png" width="30px" height="30px"> -->
                                        <img src="https://img.icons8.com/ios/50/000000/topic.png" width="30px" height="30px">
                                        <img src="https://img.icons8.com/ios/50/000000/upload.png" width="28px" height="28px">
                                    </div>
                                    <div class="col"></div>
                                    <div class="col highlight">
                                        <img src="https://img.icons8.com/ios/50/000000/bookmark-ribbon.png" width="30px" height="28px">
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <p>                                   
                                    {{img.image_caption}}
                                    {{img.id.url}}
                                </p>
                                <p class="mb-0 imgcredtime">{{img.published_date|timesince}} ago.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <form  method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ comment_form.as_p }}

                                <input type="submit" name="" value="Comment">
                            </form>                   
                        </div>
                    </div>
                    {% endfor %}

                <!-- Modals -->
                    <!-- Modal On Image -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-body badge">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action red">Report Unappropriate</a>
                                    <a href="#" class="list-group-item list-group-item-action red">Unfollow</a>
                                    <a href="#" class="list-group-item list-group-item-action">Go to post</a>
                                    <a href="#" class="list-group-item list-group-item-action">Embed</a>
                                    <a href="#" class="list-group-item list-group-item-action">Share</a>
                                    <a href="#" class="list-group-item list-group-item-action">Copy Link</a>
                                    <a href="#" class="list-group-item list-group-item-action red" data-dismiss="modal">Cancel</a>
                                </div>
                          </div>    
                        </div>
                      </div>
                    </div>
                    <!-- End of Modal on image -->
                
                <!-- End of Modals -->
            </div>
            <!-- End of Image-Section -->
            <!-- Sidebar Section -->
            <div class="col-md-1"></div>

            <div class="col-md-4">
                <div class="container">
                    <img src="{{user.profile.profile_pic.url}}" class="col-md-4 img-responsive" >
                </div>
                <div class="container">
                    <a href="post/new/">
                        <img src="https://img.icons8.com/cotton/64/000000/add--v2.png" width="30px" height="30px">Add an Image
                    </a>
                </div>
                <div class="container">
                    <a href="update/">
                        <img src="https://img.icons8.com/dotty/50/000000/user-male.png" width="30px" height="30px">Update Profile
                    </a>
                </div>
                <div class="container">
                    <a href="logout">
                        <img src="https://img.icons8.com/pastel-glyph/64/000000/logout-rounded-down.png" width="30px" height="30px"> LOg Out
                    </a>
                </div>
                    
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <!-- End of sidebar section -->
        </div>
        <!-- End of row divider -->
    </div>
    <!-- End of inner wrapper -->

{% endblock %}
